@use '../../styles/variables' as *;

.netIncome{
    border: 2px solid rgb(0, 255, 4);
    border-radius: 8px;
    width: 33%;
    height: 30vh;
    color: $secondary-white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    margin: .5rem;
    overflow: auto;
    padding: 1rem .5rem;

    &__total{
        font-weight: 800;
    }
}