@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.hero {
    color: $secondary-white;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    height: 40rem;
    margin: auto;
    margin-top: 1rem;
    padding: 2.25rem;

    @include tablet{
        justify-content: center;
        flex-direction: row;
        align-items: center;
        height: 50rem;
        padding: 2.25rem;
        margin: 2.25rem;
    }
    
    &__content{
        background-color: transparent;
        font-size: 1rem;
        @include tablet{
            font-size: 2rem;
        }

        
        &-container {
            width: 100%;
            padding: 1rem;

            @include tablet{
            width: 50%;
            padding: 1rem;
            background-color: transparent;
            }
            
        }
        &-title{
            color: $secondary-blue-2;
            font-weight: 800;
            font-size: 1.5rem;

            @include tablet{
                font-size: 3rem;
                font-weight: 800;
            }
        }
    }
    &__button{
        padding: 1rem 2rem;
        border-radius: 8px;
        color: $secondary-white;
        background-color: $secondary-blue-2;
        border: none;
        transition: 0.3s;
        margin-top: 1rem;

        @include tablet{
            font-size: 2rem;
            font-weight: 800;
        }
    }
    &__button:hover{
        background-color: $secondary-blue-3;
    }
    &__image-container {
        // width: 50%;
        padding: 1rem;
        margin: auto;
        background-color: transparent;
    }
    &__image {
        width: 20rem;
        height: 20rem;

        @include tablet{
        width: 40rem;
        height: 40rem;
        background-color: transparent; 
        }
        
    }
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
}