// breakpoints 
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;
$breakpoint-xl-desktop: 120rem;

// theme colors
$primary-green: #4D7E3E;
$primary-teal: #31C48D;
$secondary-white: #FFFFFF;
$secondary-red: #e74249;
$secondary-gray: #b7c8d3;
$secondary-purple: #685eac;
