@use "../../styles/variables" as *;

.benefits {
    display: flex;
    flex-direction: row;
    margin: 1.5rem 2.25rem;
    padding: 2rem;
    height: 100vh;

    &__subheader{
        color: $secondary-blue-2;
        font-weight: 800;
        font-size: 1.5rem;
    }

    &__description{
        color: $secondary-white;
        font-size: 1rem;
    }

    &__container {

        &-image {
            padding: 1rem;
        }
        &-content{
            display: flex;
            flex-direction: column;
        }
    }

    &__image {
        height: 25rem;
        width: 40rem;
    }

    
}

.bidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.bhow{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}