@use '../../styles/variables' as *;

.loginButton{
    padding: 1rem 2rem;
        border-radius: 8px;
        color: $secondary-white;
        background-color: $primary-blue;
        border: none;
}