@use '../../styles/variables' as *;

.budgetOverview{
    border: 2px solid rgb(0, 255, 4);
    border-radius: 8px;
    width: 99%;
    height: 90%;
    color: $secondary-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    overflow: auto;
    padding: 1rem 0;

    &__category-container{
        width: 90%;
        margin: .5rem 0;
    }
}