@use "../../styles/variables" as *;

.questions {
    color: $secondary-white;
    padding: 1rem;
    &__form {
        display: flex;
        flex-direction: column;
        &-input {
            background-color: $secondary-white;
            border-radius: 0.5rem;
        }
        &-button {
            padding: 1rem 2rem;
            border-radius: 8px;
            color: $secondary-white;
            background-color: $primary-blue;
            border: none;
        }
    }
}
